saml {
    idpMetadataUrl = 'https://capriza.github.io/samling/public/metadata.xml'
    refreshPeriod  = '15'
    maximumAuthLifetime = 1209600
    displayNameAttribute = 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'
    groupAttribute = 'http://schemas.microsoft.com/ws/2008/06/identity/claims/groups'
    usernameAttribute = 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'
    emailAttribute = 'http://???'
    usernameCaseConversion = 'None'
    dataBindingMethod = 'HTTP-Redirect'
    logoutUrl = 'https://logout.com'
}